[submodule "collector/agents/skyvern"]
	path = collector/agents/skyvern
	url = https://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@github.com/devinat1/skyvern.git

[submodule "collector/agents/webarena"]
	path = collector/agents/webarena
	url = https://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@github.com/devinat1/webarena.git

[submodule "vm/ubuntu22_04_m1"]
	path = vm/ubuntu22_04_m1
	url = https://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@github.com/devinat1/ubuntu22_vagrant.git

[submodule "collector/agents/visualwebarena"]
	path = collector/agents/visualwebarena
	url = https://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@github.com/devinat1/visualwebarena.git

[submodule "sites/react-testbed"]
	path = sites/react-testbed
	url = https://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@github.com/devinat1/agenttrickydps.git

[submodule "sites/nextjs-testbed"]
	path = sites/nextjs-testbed
	url = https://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@github.com/devinat1/custom-sites.git

[submodule "collector/agents/agente"]
	path = collector/agents/agente
	url = https://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@github.com/devinat1/agente.git
